body {
    background-color: #F5F6F9;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #5e6773;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    padding: 20px 30px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.mi-logo {
    height: auto;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
}

.recover-text {
    font-size: 18px;
    font-weight: 300;
}

.info {
    background-color: #D9EDF7;
    color: #3170A9;
    width: 90%;
    border-radius: 5px;
    padding: 15px;
}

input {
    width: 80%;
    font-size: 14px;
    border: 1px solid #E1E3EA;
    background-color: #fcfcfc;
    color: #5e6773;
    padding: 6px 12px;
    height: 34px;
}

.submit-button {
    width: 80%;
    background-color: #00AAFF;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 3px;
    border: none;
    height: 50px;
}

a {
    text-decoration: none;
    color: #00AAFF;
}
