@charset "ISO-8859-1";

@charset "ISO-8859-1";


body{
	margin:0px;
}

.header{
	display:flex;
	flex-direction:coloumn;
	justify-content:space-between;
	background-color: #1991D7;
	color: #fff;
	padding-right: 15px;
    padding-left: 15px;
}

.app-name {
	display:flex;
	flex-direction:coloumn;
	margin: 0px 10px 0px 10px;
}

button {
	font-size: 18px;
    padding: 0 20px;
    line-height: 1;
    vertical-align: middle;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.arrow-circle {
	margin-left: 5px;
}

.logged-info {
	display:flex;
	flex-direction:coloumn;
	margin: 0px 5px 0px 5px;
	cursor: pointer;	
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

.profile {
	color:#5e6773;
	background-color: #fafbfc;
	display: flex;
	flex-direction:coloumn;
}

.logout {
	color:#5e6773;
	background-color: #fafbfc;
	display: flex;
	flex-direction:coloumn;
}