@charset "ISO-8859-1";

body {
    background-color: #F5F6F9;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #5e6773;
}

.container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin: 30px;
    padding: 20px 30px;
}

.login-form {
    width: 42%;
    height: 100%;
    padding: 40px;
    text-align: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.login-text {
    font-size: 18px;
}

.bl-logo {
    border-radius: 50%;
    border: 1px solid #E5E5E5;
    padding:5px
}

input {
    width: 80%;
    height: 40px;
}

.submit-button {
    width: 80%;
    height: 50px;
    background-color: #00AAFF;
    color: #FFFFFF;
    border:none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #00AAFF;
}

.remember-div {
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.app-name {
    width: 58%;
    background-image: url("../resources/images/login-bg.jpg");
    color: #FFFFFF;
}

.bg-color {
	background-color: #6CA0BB;
	opacity:.8;
	display: flex;
    align-items: center;
    height:100%;
}

.app-text {
    padding: 30px;
    font-size: 26px;
}

.app-text p {
    font-size: 18px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 22px;
    margin: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .1s;
    transition: .1s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 600px)  {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        width: 100%;
    }

    .app-name {
        visibility: hidden;
    }
}
