@charset "ISO-8859-1";

body {
	font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #5e6773;
    margin: 0px;   
}

.main-container {
	overflow: unset;
}

a {
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: coloumn;
	background-color: #F5F6F9;
}

.main-content {
	overflow: hidden;
	overflow-y: sroll; 
}

input, select {
	width: 100%;
	height: 20px;
	background-color: #fcfcfc;
	padding: 5px 6px;
	border-radius: 5px;
	border: 1px solid #e1e3ea;	
}

select {
	height: 30px;
} 

.content-heading {
    border-bottom: 1px solid #e3e3e3;
    background-color: #ffffff;
    display: flex;
	flex-direction: coloumn;    
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	width: auto;
}

.page-title {
	padding-left: 30px;
	font-size: 18px;
	color: #5e6773;
}

.home-link {
	padding-right: 30px;
	color: #000000;
}

.home-link a {
	color: #4FC7FF;
}

.form-container {
	padding: 10px;
	color: #717d84;   
}

.form-sub-container {
	 display: flex;
} 

.panel {
    border-radius: 5px;
    border: 1px solid #d1d6e6;
   	background-color: #ffffff;
   	margin: 5px;	
}

.panel-title {
	padding: 12px 20px;	
	font-size: 16px;
}

.panel-body {
	padding: 5px;
	display: flex;
	flex-direction: column;
}

.general div {
	padding: 5px;
}

.photo {
	height: fit-content;
}

.row {
	display: inline-grid;
  	grid-template-columns: auto auto auto;
}

.control-label {
    color: #a0aeba;
    font-weight: normal;
    margin-bottom: 10px;
}

.form-contrl {
    border-radius: 3px;
    border-color: #e1e3ea;
    background-color: #fcfcfc;
    color: #5e6773;
}

#dob {
	margin-left: 0px;
}

.permissions .panel-body {
	padding: 5px;
}

tr { 
  border-bottom: 1px solid black;
}

td {
  border: none;
  text-align: left;
  padding: 8px;
  color: #717D84;
  font-size: 14px;
}   

.table_head td div {
	font-size: 16px;
	display: flex;
	flex-direction: row;
}  