@charset "ISO-8859-1";

body {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    background: #F5F6F9;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #5e6773;
    overflow: hidden;	    
}

.main-container {
	height: 100%;
	width: 100%
}

.container {
    width: 100%;
    height: 100%;
    display: flex; 
}

.main-content {
    width: 100%;
    height: 510px;
    background: #F5F6F9;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content-heading {
    padding: 15px 20px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
    display:flex;
    align-items:center;
    justify-content:space-between;	
}

.page-title {
	font-size: 18px;	
}

.home-link a {
	font-size: 14px;
    color: #4FD1FF;
	text-decoration: none;
}

.home-link a i {
    font-size: 15px;
    margin-right: 3px;
    color: #a0aeba;
}

.form {
    margin: 20px 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-sub-container {
	margin-bottom: 10px;
	display: flex;	
}

.panel {   
	display: flex;
    flex-direction: column;
    background-color:white;
    border-radius:3px;
    text-align:left;
    border: 1px solid #d1d6e6;
    margin: 10px;
    padding: 10px;
}

.panel-title {
    font-size: 18px;
    color: #717d84;
    padding: 10px;	
}

.panel-body {
	margin-top: 15px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin:5px;
    text-align:left;
    color: #a1a7af;	
}

.form-control {
    margin-top:5px;
    padding: 5px;
    border-radius: 2px;
    width: 160px;
    border:1px solid #e1e3ea;
    background-color: #fcfcfc;
    color: #5e6773;
    outline:none;
    height:25px;
}

.select {
    width: 170px;	
	height: 30px;
}

.address {
    height: 100px;
}

hr {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

.photo {
    background-color:white;
    border-radius:3px;
    height: fit-content;
    border: 1px solid #d1d6e6;
    text-align: left;
    padding: 15px;
}

.photo .panel-body{  
    color: #a0aeba;
    font-weight: normal;
    width:100%;  
}

.photo .panel-body label {
	padding-bottom: 10px;
}

.permissions .panel-body {
	height:100%;
	padding: 10px;
	font-size: 15px;   
}

td {
	width: 250px;
}

.permission-table-head {
	margin-bottom: 15px;
} 

.permission-table-head, .permission-table-head  span{
	font-size: 18px;
}

table tr {
	height: 30px;
	border-bottom: 1px solid black;
}

 