.sidebar {
	color: #d6e1f1;
    background-color: #2B333E;
    height: 100vh;
    width: 20%;    
}

.sidebar div {
	margin: 20px;
	cursor: pointer;
	color: #d6e1f1;
}

.sidebar a {
	text-decoration: none;
	color: #d6e1f1;
}

.sidebar i {
	margin-right: 8px;
	font-size: 17px;	
}

.onclick-div {
	cursor: pointer;
}

.ti-angle-left {
	float: right;
} 

.label {
	font-size:8px;
	float: right;
	padding: 5px 5px;
	border-radius: .25em;
	color: #ffffff;
}

.label-success {
	background-color: #41B314;
}

.toggle {
	text-align: center;
}