@charset "ISO-8859-1";

body {
	margin-top: 0px;
}

a {
	text-decoration: none;
	color: #d6e1f1;
}

.checkbox {
	position: relative; 
	left: 180px;
	top: -38px;
	display: none;
}

.sidebar {
	color: #d6e1f1;
    background-color: #2B333E;
    height: 150vh;
    width: 230px;
    padding: 10px;
	top: -10px;
}

.sidebar div {
	display: block;
	margin: 20px;
	cursor: pointer;
	font-size: 16px;
	color: #d6e1f1;
}

.sidebar i {
	margin-right: 8px;
	font-size: 15px;
}

.ti-angle-left {
	float: right;
} 

.label {
	font-size: 10px;
	float: right;
	padding: 5px 7px;
	border-radius: .25em;
	color: #ffffff;
}

.label-success {
	background-color: #41B314;
}