@charset "ISO-8859-1";

body {
	margin-top: 0px;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #d6e1f1;
}

.sidebar {
	color: #d6e1f1;
    background-color: #2B333E;
    height: 100%;
    width: 240px;
    padding: 5px;
}

.sidebar div {
	display: block;
	margin: 20px;
	cursor: pointer;
	color: #d6e1f1;
}

.sidebar i {
	margin-right: 8px;
}

.ti-angle-left {
	float: right;
} 

.label {
	font-size:8px;
	float: right;
	padding: 5px 5px;
	border-radius: .25em;
	color: #ffffff;
}

.label-success {
	background-color: #41B314;
}

.toggle {
	align-self: center;
}