@charset "ISO-8859-1";

body {
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0;
	padding: 0;
	background: #F5F6F9;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	overflow: hidden;
}

button {
	outline: none;
	border: none;
}

.main-container {
	height: 100%;
	width: 100%;
}

.sub-container {
	width: 100%;
	height: 100%;
	display: flex;
}

.main-content {
	width: 100%;
	height: 515px;
	background: #F5F6F9;
	background: #F5F6F9;
	overflow-x: hidden;
	overflow-y: scroll;	
}

.content-heading {
	padding: 10px 15px;
	border-bottom: 1px solid #e3e3e3;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page-title {
	font-size: 18px;
}

.home-link a {
	font-size: 14px;
	color: #4FD1FF;
	text-decoration: none;
}

.home-link a i {
	font-size: 15px;
	margin-right: 3px;
	color: #a0aeba;
}

.content {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 5px;
	text-align: left;
	margin: 15px;
	border: 1px solid #d1d6e6;
}

.content-title {
	padding: 10px;
	font-size: 18px;
	color: #717d84;
	background-color: #F8F9FA;
}

.new-user-anchor {
	float: right;
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	background-color: #5BC0DE;
	text-align: center;
	padding: 5px 11px;
	border-radius: 5px;
}

.content-body {
	margin: 15px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

#myTable_wrapper {
	width: 95%;
}

table {
  border-collapse: collapse;
  width: 90%;
}

th, td, thead , tbody{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0px;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding:2px;
}

.table td, .table th {
	vertical-align: middle;
}

.status-active , .status-inactive  {
	border-radius: 5px;
	padding: 5px;
}

.status-active {
	background-color: #EBF7E7;
	color: #41B314;
}

.status-inactive {
	background-color: #FFEAED;
	color: #F9354C;	
}

#myTable_length label select{
	width:100px;
	height: 25px;
	outline: none; 
}

#myTable_filter label input {
	height: 30px;
	border-radius: 3px;
	outline: none;
	border: 1px solid grey;
}

#myTable_info {
	font-weight: 600;
}

#myTable_paginate {
	margin-top: 5px;
	margin-left: 10px;
	float: left;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: #ffffff !important;
    font-family: Arial;
    background-color: #337AB7;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    padding: 2px 6px;
    margin-right: 3px;
    line-height: 150%;
    border: 1px solid #337ab7;
    border-radius: 3px;
    font-size: 13px;	
}

/* The Modal (background) */
.modal-bg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-box {
  background-color: #fefefe;
  margin:auto;
  padding: 30px;
  width: fit-content;
  border: 1px solid #888;
  border-radius: 10px;
}

/* The Close Button */
.modal-box {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

@media ( min-width : 280px) and (max-width: 480px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.sidebar {
		width: 100%;
		height: auto;
	}
}